/*
Author: Roshni Patel
Author URI: http://phoenix.sheridanc.on.ca/~ccit3688
Description: Inner Portfolio Shortcode Style
*/
	
.bio { /* invisible border around textbox */
	border: 0.5em #6f5e56 inherit;
}
	
.title { /* styles title */
	color: #383838;
	font-family: 'Allura';
	font-size: 3em;
	font-weight: bold;
	line-height: 2em;
	text-align:center;
}

.url-buttons { /* class made to contain and display button */
	display:inline-block;
}

.url-link { /* styles the links */
	background-color: #bd8d1b;
	border: 0.3em #bd8d1b groove; 
	border-top-left-radius: 3em;
	border-bottom-right-radius: 3em;
	font-family: 'Patrick Hand SC';
	text-align: center;
	text-decoration: none;
	margin: 1em;
	padding: 1em;
}

#urlone { /* div made to contain link 1 */
	float: left;
	line-height: 2em;
	}
	
#urltwo { /* div made to contain link 2 */
	float: left;
	line-height: 2em;
	}

#urlthree { /* div made to contain link 3 */
	float: left;
	line-height: 2em;
	}
	
#urlfour { /* div made to contain link 4 */
	float: left;
	line-height: 2em;
	}
	
#urlfive { /* div make to contain link 5 */
	float: left;
	line-height: 2em;
	}

/* For the Social Media Links */
@media screen and (max-width: 754px) {
	#urlone,
	#urltwo,
	#urlthree,
	#urlfour,
	#urlfive {
	float:none;
	margin-bottom: 2em;
	display: block;
	}
}
		
	



